{% extends 'asset/base.html' %}

{% load static %}

{% block title %}События{% endblock %}

{% block content %}
  <div id="main" class="product_list col-sm-12">
    <h1>События</h1>
    {% if events %}
      <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Источник</th>
              <th>Тип</th>
              <th>Время</th>
              <th>Данные</th>
            </tr>
          </thead>
          <tbody>
      {% for event in events %}
          <tr>
            <td>{{ event.id }}</td>
            <td>{{ event.source }}</td>
            <td>{{ event.type }}</td>
            <td>{{ event.dt }}</td>
            <td>{{ event.data }}</td>
          </tr>
      {% endfor %}
      </table>
      {% if events.has_other_pages %}
        <div class="text-center">
          <ul class="pagination">
            {% if events.has_previous %}
              <li><a href="?page={{ events.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in events.paginator.page_range %}
              {% if events.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if events.has_next %}
              <li><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% else %}
      <div class="alert alert-warning">
        События отсутствуют.
      </div>
    {% endif %}
  </div>
{% endblock %}</code>
</pre>